<footer>
  <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
</footer>

<script src="/assets/js/scripts.js" defer></script>

<!-- <p>
  Ilustración estilizada de una persona y un robot. El robot, representado en
  tonos azules, se presenta de perfil, mirando hacia la izquierda. Su diseño es
  lineal, con contornos gruesos y detalles internos que sugieren engranajes y
  componentes dentro de la cabeza y el cuello. La figura del robot tiene una
  estética mecánica un tanto futurista. Junto al robot hay una persona, también
  de perfil, pero mirando hacia la derecha. La persona está representada en un
  estilo simplificado, casi caricaturesco, utilizando bloques de color para
  rasgos como la cabeza, la cara y la ropa. La piel es de color naranja rojizo,
  el pelo castaño oscuro. La presentación es similar a la del robot, pero con un
  tono más humano. El fondo es de color púrpura intenso/índigo con formas y
  motivos abstractos, incluidas líneas onduladas y motivos geométricos,
  colocados alrededor de ambas figuras. Las líneas y los motivos parecen crear
  una sensación de actividad y tecnología alrededor de las figuras. En conjunto,
  el estilo de la obra mezcla elementos humanos y artificiales, creando un
  contraste visual sorprendente. El estilo de la ilustración es plano y
  sencillo.
</p>

<p>
  Estoy necesitando imágenes estilo vectorial. Actualmente estoy desarrollando
  mi portfolio y página web. En mi página "About" tengo tarjetitas para
  presentación de mí comp persona y profesional del desarrollo de software, mi
  experiencia, tecnologías que uso y demás. Para ilustrar y dar un estilo fresco
  cada una de estas tarjetitas tendrá una imagen vectorial. Por cierto soy
  Uruguayo, mi apariencia es de barba corta, pelo corto de color negro, tes
  latina clara y me visto casual. Esta es la descripción de una foto mía: Una
  ilustración en tonos azul claro muestra a un hombre sentado ante un
  escritorio, dedicado a la codificación. El hombre está centrado en la imagen y
  es de piel clara y pelo oscuro peinado con un corte limpio. Lleva barba corta
  y una remera azul. Está colocado de tres cuartos, ligeramente inclinado hacia
  delante, con las manos sobre un ordenador portátil gris oscuro. Sus manos
  están sobre el teclado, lo que indica que está escribiendo. A la izquierda del
  hombre hay un monitor que muestra líneas de código informático. El código
  presenta una típica combinación de colores claros y oscuros, habitual en las
  imágenes de programación. El estilo de la ilustración es plano y sencillo, con
  formas redondeadas y colores apagados. Hay una pequeña maceta sobre el
  escritorio, a la izquierda del hombre, y otra a la derecha. El escritorio es
  de color marrón anaranjado cl
</p> -->
