/* Estilos para el header */
header {
   background: var(--color-secondary);
   /* Azul morado */
   color: #fff;
   padding: 1.5rem;
   /* Espaciado para dar más espacio */
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
}

/* Estilos para el logo */
.logo {
   display: flex;
   align-items: center;
   /* Alinea el texto y el cursor */
}

.logo-text {
   font-size: 2.5rem;
   /* Tamaño grande para el texto */
   font-weight: bold;
   color: #fff;
   margin-right: 0.2rem;
   /* Espacio entre el texto y el cursor */
}

/* Estilos para el cursor */
.cursor {
   font-size: 2.5rem;
   /* Mismo tamaño que el texto */
   font-weight: bold;
   color: #fff;
   /* Color blanco para el cursor */
   animation: blink 1s infinite;
   /* Animación de parpadeo */
}

/* Animación de parpadeo */
@keyframes blink {

   0%,
   50% {
      opacity: 1;
      /* Visible */
   }

   51%,
   100% {
      opacity: 0;
      /* Invisible */
   }
}

/* Estilos para el menú de navegación */
.nav-menu {
   display: flex;
   gap: 2rem;
   /* Aumenta el espacio entre los enlaces */
}

.nav-menu a {
   color: #fff;
   /* Color del texto */
   text-decoration: none;
   font-size: 1.2rem;
   /* Tamaño más grande */
   padding: 0.5rem 1rem;
   /* Relleno para hacer los enlaces más grandes */
   border-radius: 5px;
   /* Bordes redondeados */
   position: relative;
   /* Permite posicionar el guion bajo */
   transition: background-color 0.3s ease, color 0.3s ease;
   /* Transición suave */
}

/* Efecto de iluminación al pasar el cursor */
.nav-menu a:hover {
   background-color: var(--color-accent);
   /* Fondo iluminado */
   color: var(--color-text-primary);
   /* Cambia el color del texto */
}

/* Guion bajo al pasar el cursor */
.nav-menu a::after {
   content: "_";
   position: absolute;
   font-weight: bold;
   opacity: 0;
   right: 3px;
   /* Ajusta la posición para que quede pegado al texto */
   transition: opacity 0.3s ease-in-out;
}

/* Mostrar el guion bajo al hacer hover */
.nav-menu a:hover::after {
   opacity: 1;
   animation: blink 1s infinite;
   /* Aplica la animación de parpadeo */
}

/* Animación de parpadeo */
@keyframes blink {

   0%,
   50% {
      opacity: 1;
   }

   51%,
   100% {
      opacity: 0;
   }
}