/* Estilos generales */
body {
   background: var(--color-background);
   /* Fondo claro para mayor contraste */
   color: var(--color-text-primary);
   /* Color de texto principal */
   font-family: Arial, sans-serif;
   line-height: 1.6;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.page-content {
   background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
   min-height: 100vh;
   /* Asegura que cubra toda la pantalla */
   display: flex;
   flex-direction: column;
}


/* Contenido principal */
.content {
   flex: 1;
}

/* Botones */
button,
.button {
   background: var(--color-accent);
   /* Azul vibrante */
   color: var(--color-background);
   /* Texto en color claro */
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   font-size: 1rem;
   transition: background 0.3s ease;
}

button:hover,
.button:hover {
   background: var(--color-highlight);
   /* Celeste claro para hover */
   color: var(--color-text-primary);
   /* Mantiene legibilidad */
}

/* Textos secundarios */
p.secondary-text {
   color: var(--color-text-secondary);
}