/* Importar estilos específicos */
@import url('about.css');
@import url('blog.css');
@import url('contact.css');
@import url('footer.css');
@import url('header.css');
@import url('home.css');
@import url('main.css');
@import url('page.css');

:root {
   --color-primary: #0B2447;
   /* Azul oscuro profundo, serio y profesional */
   --color-secondary: #19376D;
   /* Azul medio, aporta modernidad y tecnología */
   --color-accent: #576CBC;
   /* Azul vibrante, usado para resaltar elementos clave */
   --color-highlight: #A5D7E8;
   /* Celeste claro, fresco y amigable */
   --color-background: #F8F9FA;
   /* Blanco grisáceo, mantiene limpieza y elegancia */
   --color-text-primary: #1B1B1B;
   /* Negro suave, mejora legibilidad sobre fondos claros */
   --color-text-secondary: #2F4F75;
   /* Azul grisáceo, más oscuro para mejor contraste */
}