<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>{{ page.title }} | {{ site.title }}</title>

    <style>
      html,
      body {
        background: #155e95; /* Color de fondo principal */
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }

      header {
        background: #6a80b9;
        color: #fff;
        padding: 1.5rem;
      }
    </style>

    <!-- Preload del CSS principal con fallback para navegadores antiguos -->
    <link
      rel="preload"
      href="{{ '/assets/css/styles.css' | relative_url }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="{{ '/assets/css/styles.css' | relative_url }}"
      />
    </noscript>
  </head>
  <body>
    <!-- Incluir el encabezado -->
    {% include header.html %}

    <!-- Contenido principal -->
    <main>
      <div class="page-content-default">{{ content }}</div>
    </main>

    <!-- Incluir el pie de página -->
    {% include footer.html %}
  </body>
</html>
